html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'sanse-serif';
  margin: 0;
}

.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

button,
input,
textarea {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    position: static;
    width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .container--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--padding-bot {
  padding-bottom: 0;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo__web {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo__inverse {
  color: #fff;
  margin: 0;
}

.logo__footer {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.headpiece {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link:hover, .site-nav__link:active, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--active {
  position: relative;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--active::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    position: absolute;
    bottom: 134px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 301px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-bottom: 0px;
    margin-right: 0px;
  }
}

.contacts__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .contacts__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:last-child {
    margin-right: 30px;
  }
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__link {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link--enlarge {
    font-size: 34px;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover, .contacts__link:active, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .menu-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: #fff;
  }
  .menu-content.is-open {
    display: block;
  }
}

.mobile-socials {
  position: absolute;
  bottom: 48px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-socials {
    display: none;
  }
}

.mobile-socials__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-socials__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.centered {
  margin: 0 auto;
}

.footpiece {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container__footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.contact-us {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contact-us {
    margin-bottom: 0px;
  }
}

.contact-us__link {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us__link:hover, .contact-us__link:active, .contact-us__link:focus {
  color: #2196f3;
}

.contact-us__item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-us__link--address {
  color: #fff;
}

.social-section {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-section {
    margin-bottom: 0px;
  }
}

.social-section__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.social-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-section__item:not(:last-child) {
  margin-right: 10px;
}

.social-section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-section__link:hover, .social-section__link:active, .social-section__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscribe-section__newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-section__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.subscribe-section__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .subscribe-section__input {
    width: 358px;
  }
}

.subscribe-section__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  fill: #fff;
}

@media screen and (min-width: 1200px) {
  .subscribe-section__button {
    margin-left: 12px;
  }
}

.subscribe-section__icon {
  margin-left: 10px;
  vertical-align: middle;
}

.hero.section {
  margin: 0 auto;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-mobile.jpg");
  background-size: cover;
  background-color: #2f303a;
  background-position: center;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero.section {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero.section {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index-images/bg-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index-images/bg-desktop@2x.jpg");
  }
}

.hero.section--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin: 0;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.strengths__static-icon-box {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.strengths__static-icon {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .strengths__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .strengths__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .strengths__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .strengths__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.strengths__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .strengths__title {
    text-align: center;
  }
}

.strengths__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section--hidden {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .section {
    display: block;
    text-align: center;
  }
}

.competencies__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.competencies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.competencies__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.competencies__item:last-child {
  margin-right: 0;
}

.competencies__descr-box {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.competencies__description {
  margin: 0;
}

.team.section {
  background-color: #f5f4fa;
}

.team {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team__item:last-child {
  margin-right: 0;
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.team__card {
  padding: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__job {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:active, .team-social__link:focus {
  fill: #fff;
  background-color: #2196f3;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  text-align: center;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.clients__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
      flex-basis: calc((100% - 4 * 15px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
        flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus, .clients__link:active {
  border-color: #2196f3;
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: calc(100% - 30px);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus, .modal__close-button:active {
  fill: #2196f3;
}

.modal-form__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form__label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-form__label {
    line-height: 1.71;
    letter-spacing: 0.01em;
  }
}

.modal-form__effect {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  padding: 11px 12px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__effect:hover .modal-form__icon,
.modal-form__effect:focus .modal-form__icon,
.modal-form__effect:active .modal-form__icon {
  fill: #2196f3;
}

.modal-form__effect:hover .modal-form__input,
.modal-form__effect:focus .modal-form__input,
.modal-form__effect:active .modal-form__input {
  border: 1px solid #2196f3;
}

.modal-form__input--comment {
  padding-left: 12px;
  margin-bottom: 20px;
  resize: none;
}

.modal-form__input--comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input--comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input--comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input--comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__terms {
  color: #2196f3;
  text-decoration: underline;
}

.modal-form__section--opt-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.modal-form__checkmark {
  display: inline;
  vertical-align: sub;
  fill: #fff;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-form__opt-in:checked + .modal-form__checkmark {
  border: none;
  background-color: #2196f3;
}

.modal-form__submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  border: transparent;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .filters__item:nth-last-child(-n + 2) {
    margin: 0;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.project {
  text-align: left;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .project__link--first {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .project {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .project {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.project__thumb {
  overflow: hidden;
  position: relative;
}

.project__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__type--extra-padding {
    padding-bottom: 36px;
  }
}

.project__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (max-width: 767px) {
  .project__bg {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .project__bg {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__bg {
    padding: 63px 24px;
  }
}

.project__description {
  margin: 0;
}

.project__link {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project__bg,
.project__link:focus .project__bg {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__bot-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}
/*# sourceMappingURL=main.css.map */