html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'sanse-serif';
  margin: 0;
}

.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

button,
input,
textarea {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

main {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    position: static;
    width: 768px;
  }

  &--flex {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--padding-bot {
    padding-bottom: 0;
  }
}
