html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'sanse-serif';
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-flex;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  &--space-between {
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &--padding-top {
    padding-top: 80px;
  }

  &--no-flex {
    display: block;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--padding-bot {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  pointer-events: none;

  & .modal {
    opacity: 0;
  }
}
