$transition-time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$main-color: #212121;
$accent-color: #757575;
$highlight-color: #2196f3;
$pure-white: #fff;
$pure-black: #000;
$bg-dark: #2f303a;
$bg-light: #f5f4fa;
$border-color: #eeeeee;
$header-border-color: #ececec;
$icon-color: #afb1b8;
