$transition-time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$main-color: #212121;
$accent-color: #757575;
$highlight-color: #2196f3;
$pure-white: #fff;
$pure-black: #000;
$bg-dark: #2f303a;
$bg-light: #f5f4fa;
$border-color: #eeeeee;
$header-border-color: #ececec;
$icon-color: #afb1b8;

@mixin title-mob-tab {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $main-color;
}

@mixin title-web {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $main-color;
}

@mixin name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $main-color;
}

@mixin job {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
}

@mixin footer-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $pure-white;
}

@mixin button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $pure-white;

  background: $highlight-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
