.strengths {
  &__static-icon-box {
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $bg-light;
    border-radius: 4px;
  }

  &__static-icon {
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      margin: 15px;
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 8 * 15px) / 4);
      text-align: left;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
