.container-fluid {
  &--team {
    background-color: $bg-light;
  }
}

.team {
  text-align: center;

  &__list {
    @media screen and (min-width: 768px) {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      margin: 15px;
    }

    padding-bottom: 24px;
    background-color: $pure-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 120px) / 4);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__profile-pic {
    margin-bottom: 30px;
  }
  &__title {
    @include title-mob-tab;

    @media screen and (min-width: 1200px) {
      @include title-web;
    }
  }
  &__name {
    @include name;
  }

  &__job {
    @include job;
  }
}

.team-social {
  display: flex;
  justify-content: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $icon-color;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;

    transition: background-color $transition-time $cubic, fill $transition-time $cubic;

    &:hover,
    &:active,
    &:focus {
      fill: $pure-white;
      background-color: $highlight-color;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
