.headpiece {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;

  border-bottom: 1px solid $header-border-color;
  background-color: $pure-white;
}
.site-nav {
  margin-right: 305px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $main-color;

  &__item {
    margin-right: 50px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    padding: 32px 0px;
    color: inherit;
    transition: color $transition-time $cubic;
  }

  &__link:hover,
  &__link:focus {
    color: $highlight-color;
  }

  &__link--active {
    position: relative;
    color: $highlight-color;
  }

  &__link--active::after {
    z-index: 2;
    content: ' ';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $highlight-color;
  }
}

.contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $accent-color;

  &__item {
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    padding: 32px 0px;
    color: inherit;
    transition: color $transition-time $cubic, fill $transition-time $cubic;
    fill: $accent-color;
  }

  &__link:hover,
  &__link:focus {
    color: $highlight-color;
    fill: $highlight-color;
  }

  &__icon {
    margin-right: 10px;
  }
}
